[merge]
  tool = meld
[user]
  name = NickyTope
  email = nicky.tope@gmail.com
[alias]
  br = "!f() { git submodule foreach \"git checkout $1 || :\" && git checkout $1; }; f"
  compare = "!f() { git --no-pager log --oneline $2..$1; }; f"
  compare-all = "!f() { git submodule foreach \"git compare $1 $2 || :\" && git compare $1 $2; }; f"
  npm = "git submodule foreach npm i && npm i"
[pull]
	rebase = false
[cola]
	spellcheck = false
[diff]
	tool = meld
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
